

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-home">
	<template>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<style include="shared-styles">
			:host {
				display: block;

				padding: 10px;
			}
		</style>

		<div class="card" style="align-items: center;">
				<a name="iNgresa"  style="margin: 1%" class="btn btn-success col-lg-3 col-xs-12" type="button" href="[[rootPath]]view1">Ingresa</a>
				<a name="Registro" style="margin: 1%" class="btn btn-warning col-lg-3 col-xs-12" type="button" href="[[rootPath]]view2">Registrate</a>
			</div>
	</template>

	<script>
		class MyHome extends Polymer.Element {
			static get is() { return 'my-home'; }
		}

		window.customElements.define(MyHome.is, MyHome);
	</script>
</dom-module>
