
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

Access-Control.Allow-Origin : *

<dom-module id="my-view4">
        <template>
          
          <template is="dom-repeat" items={{colleccion}} as="reporte">
              <style>
                  :host {
                  display: block;
                } 
                paper-card{
                    display: block;
                    text-align: left ;
                    margin: 2em;
                } 
                paper-card .card-header{
                font-size: 2em;
                color: var(--paper-grey-700)
            }
                paper-button{
                    background-color: var(--dark-primary-color);
                    background-color: var(--paper-pink-a200);
                    color: white !important;
                    margin-left: 0px;
                    margin-top: 1em;
                }
                paper-input {
                  display: block;
                  border: 1px solid #29B6F6;
                  width: 5em;
                }
              </style>
      
            <paper-card heading={{reporte.shortName}}  elevation="1" animated-shadow="false">
              <div class="card-content"> Nombre : {{reporte.shortName}}  </div>
              <div class="card-content"> Variacion : {{reporte.gmtOffSetMilliseconds}}  </div>
              <div class="card-content"> Tipo cotización : {{reporte.quoteType}}  </div>
              <div class="card-content"> Región : {{reporte.region}}  </div>
              <div class="card-content"> Precio cambio : {{reporte.regularMarketChange}}  </div>
              <div class="card-content"> Precio de mercado : {{reporte.regularMarketPrice}}  </div>
              <div class="card-content"> Precio previo cierre : {{reporte.regularMarketPreviousClose}}  </div>
              
            </paper-card>
          
          </template>
      
        </template>
      
        <script>
          class MyView4 extends Polymer.Element {
            static get is() { return 'my-view4'; }
            static get properties(){
              return {
                colleccion:{type:Array},
                numero: Number,
                error: String
              }
            } 
          }
          window.customElements.define(MyView4.is, MyView4);
        </script>
      </dom-module>
