<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="my-view4.html">

<link rel="import" href="../bower_components/paper-card/paper-card.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

Access-Control.Allow-Origin : *
Access-Control.Allow-Headers : *

<dom-module id="my-view6">
				<template>
					
					<template is="dom-repeat" items={{colleccion}} as="reporte">
							<style>
									:host {
									display: block;
								} 
								paper-card{
										display: block;
										text-align: left ;
										margin: 2em;
								} 
								paper-card .card-header{
								font-size: 2em;
								color: var(--paper-grey-700)
						}
								paper-button{
										background-color: var(--dark-primary-color);
										background-color: var(--paper-pink-a200);
										color: white !important;
										margin-left: 0px;
										margin-top: 1em;
								}
								paper-input {
									display: block;
									border: 1px solid #29B6F6;
									width: 5em;
								}
							</style>
			
						<paper-card elevation="1" animated-shadow="true">

							<div class="card-content"> Tipo movimiento : {{reporte.type}}  </div>
							<div class="card-content"> Importe : {{reporte.amount}}  </div>
							<div class="card-content"> ID : {{reporte.idEdit}}  </div>
							<div class="card-content"> Token : {{reporte.token}}  </div>
						</paper-card>
					
					</template>
			
				</template>
			
				<script>
					class MyView6 extends Polymer.Element {
						static get is() { return 'my-view6'; }
						static get properties(){
							return {
								colleccion:{type:Array},
								numero: Number,
								error: String
							}
						} 
					}
					window.customElements.define(MyView6.is, MyView6);
				</script>
</dom-module>
