
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="my-view6.html">
Access-Control.Allow-Origin : *
Access-Control.Allow-Headers : *


<dom-module id="my-view3">
	<template>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<style include="shared-styles iron-flex iron-flex-alignment">
			:host {
				display: block;

				padding: 10px;
			}

			paper-card {
				display: block;
				text-align: left;
				margin-top: 1em;
				margin-right: 1em;

				padding-left: 1em;
				padding-right: 1em;
				padding-bottom: 1em;
			}

			paper-card .card-actions {
				padding-top: 0em;
				text-align: right;
			}

			paper-card .card-header {
				font-size: 1em;
				color: var(--paper-grey-700)
			}

			paper-button {
				background-color: var(--paper-green-500);
				/* background-color: var(--dark-primary-color); */
				color: white;
				margin-left: 0px;
				margin-top: 1em;

				height: 2em;

			}
		</style>

		<div id = one class="card" hidden={{logado}}>
			<div class="row" >
				<a name="Ini" class="btn btn-info  col-lg-2 col-xs-12" style="margin: 1%" type="button" href="[[rootPath]]view1">Inicio</a>
				<a name="iNgresa" class="btn btn-info  col-lg-2 col-xs-12" style="margin: 1%" type="button" href="[[rootPath]]view3">Perfil</a> 
				<a name="Registro" class="btn btn-info  col-lg-2 col-xs-12" style="margin: 1%" type="button" href="[[rootPath]]view5">Simulador</a>
				<a name="Registro" class="btn btn-danger  col-lg-2 col-xs-12" style="margin: 1%" type="button" onclick="myFunction()" href="[[rootPath]]home">Logout</a>
			</div>
		</div>
		<script>
			function myFunction() {
			  location.replace("/home")
			}
		</script>
		
		<div class="container">
				<div class="row">
					<div class="col-lg-6 col-xs-12">
							<div class="card" hidden$="{{logado}}">
								<div>
									<h1>Hola!{{idemongo}}</h1> 
									<paper-input required auto-validate label="Ingresa tu token" type="text" value={{token2::input}}></paper-input>
									<button type="button" raised on-tap="view" id="view" class="col-lg-3 col-xs-12 btn btn-info " name="button">Ver movi</button>
								</div>
								<div class="card" hidden$="{{!movhide}}">
									<h3>Movimientos</h3>
									<div class="layout horizontal">
								<my-view6 class="iron-flex" colleccion="{{arrayview}}"></my-view6>
							</div>
								</div>
							</div> 
					</div>
					<div class="col-lg-6 col-xs-12">
						<paper-card elevation="1" heading="Invierte" animated-shadow="false">
							<form  is="iron-form">
								
								<paper-input required auto-validate label="Tipo de movimiento" type="text" value={{type::input}}></paper-input>
								<paper-input required auto-validate label="Monto $ " type="number" value={{amount::input}} error-message="Introduce una cantidad válida"></paper-input>
								<paper-input required auto-validate label="ID de movimiento" type="number" value={{idEdit::input}}></paper-input>
								<paper-input required auto-validate label="Token" type="number" value={{token::input}}></paper-input>
								<div>
									<paper-button raised on-tap="add" id="add" class="col-lg-3 col-xs-12 btn btn-success" > Añadir  </paper-button>
									<paper-button raised on-tap="edit" id="edit" class="col-lg-3 col-xs-12 btn btn-warning" > Editar  </paper-button>
									<paper-button raised on-tap="del" id="del" class="col-lg-3 col-xs-12 btn btn-danger"> Eliminar  </paper-button>
								</div>
							</form>
					</div>
				</div>
		</div>
		<iron-ajax
			id="doadd"
			url="http://practitione.club:3002/add"
			content-type="application/json"
			crossDomain:true
			dataType:'jsonp'
			method="POST"
			handle-as="json"
			headers="Access-Control-Allow-Headers: *"
			on-response="manageAJAXResponseadd"
			on-error="showErroradd">
	</iron-ajax>
	<iron-ajax
			id="viewmov"
			url="http://practitione.club:3002/viewmov"
			content-type="application/json"
			crossDomain:true
			dataType:'jsonp'
			method="POST"
			handle-as="json"
			headers="Access-Control-Allow-Headers: *"
			on-response="manageAJAXResponseaddview"
			on-error="showErroraddview">
	</iron-ajax>
	<iron-ajax
			id="delmov"
			url="http://practitione.club:3002/delete"
			content-type="application/json"
			crossDomain:true
			dataType:'jsonp'
			method="POST"
			handle-as="json"
			headers="Access-Control-Allow-Headers: *"
			on-response="manageAJAXResponsedel"
			on-error="showErrordel">
	</iron-ajax>
	<iron-ajax
			id="edit"
			url="http://practitione.club:3002/edit"
			content-type="application/json"
			crossDomain:true
			dataType:'jsonp'
			method="POST"
			handle-as="json"
			headers="Access-Control-Allow-Headers: *"
			on-response="manageAJAXResponseedit"
			on-error="showErroredit">
	</iron-ajax>
	</template>

	<script>
		class MyView3 extends Polymer.Element {
			static get is() { return 'my-view3'; }
			static get properties() {
								return {
										type: {
												type: String
										},
										amount:{
												type:String
										},
										idEdit: {
												type: String,
										},
										token: {
												type: String,
										},
										token2: {
												type: String,
										},
										logado: {
												type: Boolean,
												value: false
										},
										movhide: {
												type: Boolean,
												value: false
										},
										error: String
								}
						}
			
			add() {
				var sendadd = {
					"type":this.type,
					"amount":this.amount,
					"idEdit":this.idEdit,
					"token":this.token

				};
				//console.log(sendadd);
				this.$.doadd.body = JSON.stringify(sendadd);
				this.$.doadd.generateRequest();
				//console.log("Petición enviada add");
			}
			manageAJAXResponseadd(data) {
				//console.log("Respuesta recibida del servidor add");
				//console.log(data.detail.response);
				
				alert("Inversion Registrada");
				alert('Para modificar el movimeinto introdice el mismo token y id, solo se puede modificar el tipo y monto');
			}

			showErroradd(error) {
				//console.log("Ocurrio un error");
				alert("Problema para registrar su operacion");
				//console.log(error);
			}

			view() {
				var dataview = {
					"token":this.token2
				};
				//console.log(dataview);
				this.$.viewmov.body = JSON.stringify(dataview);
				this.$.viewmov.generateRequest();
				//console.log("Petición enviada vista");
			}
			manageAJAXResponseaddview(data) {
				//console.log("Respuesta recibida del servidor");
				//console.log(data.detail.response);
				this.arrayview = data.detail.response;
				var ide = JSON.parse(JSON.stringify(data.detail.response[0]._id))
				this.ti = ide;
				this.movhide = true
			}

			showErroraddview(error) {
				//console.log("Ocurrio un error");
				alert("Datos correctos peticion mala");
				//console.log(error);
			}

			del() {
				var dataview = {
					"type":this.type,
					"amount":this.amount,
					"idEdit":this.idEdit,
					"token":this.token
				};
				//console.log(dataview);
				this.$.delmov.body = JSON.stringify(dataview);
				this.$.delmov.generateRequest();
				//console.log("Petición enviada borrado");
			}
			manageAJAXResponsedel(data) {
				//console.log("Respuesta recibida del servidor");
				alert("Movimiento Eliminado");
				
			}

			showErrordel(error) {
				//console.log("Ocurrio un error");
				alert("No pudimos eliminar tu peticio");
				//console.log(error);
			}

			edit() {
				var dataview = {
					"type":this.type,
					"amount":this.amount,
					"idEdit":this.idEdit,
					"token":this.token
				};
				//console.log(dataview);
				this.$.edit.body = JSON.stringify(dataview);
				this.$.edit.generateRequest();
				//console.log("Petición enviada borrado");
			}
			manageAJAXResponseedit(data) {
				//console.log("Respuesta recibida del servidor");
				alert("Inversion editada");
				
			}

			showErroredit(error) {
				//console.log("Ocurrio un error");
				alert("No pudimos editar tu peticio");
				//console.log(error);
			}
		}
		window.customElements.define(MyView3.is, MyView3);
	</script>
</dom-module>
