
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
  Access-Control.Allow-Origin : *

<dom-module id="my-view2">

  <template>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<style>
			:host {
				--app-primary-color: #4285f4;
				--app-secondary-color: black;
				display: block;
				text-align: center;
			}

			paper-card {
				width: 400px;
				height: 440px;
				text-align: left;
				padding: 2em;

			}

			paper-card .card-actions {
				padding-top: 2rem;
				text-align: right;
			}

			paper-card .card-header {
				font-size: 2em;
				color: var(--paper-grey-700)
			}

			paper-card .card-header iron-icon {
				height: 2em;
				width: 2em;
				color: var(--paper-blue-100);
			}

			paper-button[raised] {
				background-color: var(--app-primary-color);
				color: white;
			}

			paper-button {
				color: var(--paper-red-400);
			}

			app-header {
				color: #fff;
				background-color: var(--app-primary-color);
			}

			app-header paper-icon-button {
				--paper-icon-button-ink-color: white;
			}

		   
		</style>

		<paper-card elevation="5" animated-shadow="false" style="margin: 2%" hidden$={{registrado}}>
			<div class="card-header">
				<iron-icon icon="account-circle"></iron-icon>
				Registrate
			</div>

			<form is="iron-form" id="form">
				<div class="card-content" style="text-align: center;">
					<paper-input label="Nombre" value={{name::input}} type="text" placeholder=" " required auto-validate
						error-message="Introuce Nombre"></paper-input>
					<paper-input label="Apellido" value={{surname::input}} type="text" required auto-validate
						error-message="Introuce Apellido"></paper-input>
					<paper-input label="Email" value={{email::input}} type="email" required auto-validate
						error-message="Introuce un correo valido"></paper-input>
					<paper-input required label="Contraseña" value={{password::input}} type="password" required auto-validate
						error-message="Olvidaste la contraseña"></paper-input>
					<paper-button raised on-click="signup" id="signup" style="margin: 5%"> SignUp </paper-button>
				</div>
			</form>
		</paper-card>

		

		<div id = one class="card" style="align-items: center; margin: 2%;" hidden$="{{!registrado}}">
			<div class="row">
				<h2>Registro exitoso. Por favor realiza el login para ingresar </h2>
			</div>
		  <div class="row" >
			<a name="Registro" class="btn btn-primary" style="margin: 1%" type="button" href="[[rootPath]]view1">Home</a> 
		  </div>
		</div>


<!-- handle-as − Specifies what data must be stored in the response property. By default, the data is stored in the json format. -->
<!-- on-response − An attribute which can tell the iron-ajax component by what method the response is handled. -->
	<iron-ajax
	  id="dosign"
	  url="http://practitione.club:3002/Sign"
	  content-type="application/json"
	  crossDomain:true
	  dataType:'jsonp'
	  method="POST"
	  handle-as="json"
	  headers="Access-Control-Allow-Headers: *"
	  on-response="manageAJAXResponse"
	  on-error="showError">
  </iron-ajax>

  </template>

  <script>
	class MyView2 extends Polymer.Element {
	  static get is() { return 'my-view2'; }

	  static get properties() {
				return {
					name: {
						type: String
					},
					surname:{
						type:String
					},
					email: {
						type: String,
					},
					password: {
						type: String,
					},
					registrado: {
						type: Boolean,
						value: false
					},
					error: String
				}
			}

		signup() {
		  var signData = {
			"name":this.name,
			"surname":this.surname,
			"email":this.email,
			"password":this.password
		};
		//console.log(signData);
		this.$.dosign.body = JSON.stringify(signData);
		this.$.dosign.generateRequest();
		//console.log("Petición enviada");
	  }
	  manageAJAXResponse(data) {
		//console.log("Respuesta recibida del servidor");
		//console.log(data.detail.response);
		this.registrado = true;
	  }

	  showError(error) {
		//console.log("Ocurrio un error");
		alert("Datos ingresados incorrectos, por favor valide");
		//console.log(error);
	  }
	}

	window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
