
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">

<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="shared-styles.html">

Access-Control.Allow-Origin : *
Access-Control.Allow-Headers : *

<dom-module id="my-view1">
	<template>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

		<style include="shared-styles">
			:host {
				--app-primary-color: #4285f4;
				--app-secondary-color: black;
				display: block;
				text-align: center; 
			}
			paper-card{
				width: 400px;
				height: 320px;
				text-align:left;
				padding: 2em ;

			}      
			paper-card .card-actions{
				padding-top:2rem;
				text-align: right ;
			}
			paper-card .card-header{
				font-size: 2em;
				color: var(--paper-grey-700)
			}
			paper-card .card-header iron-icon{
				height: 2em;
				width: 2em;
				color: var(--paper-green-100);
			}
			paper-button[raised]{
				background-color: var(--app-primary-color);
				color: white;
			}
			paper-button{
				color: var(--paper-red-400);
			}
			app-header { 
				color: #fff;
				background-color: var(--app-primary-color);
			}
			app-header paper-icon-button {
				--paper-icon-button-ink-color: white;
			}

		</style>

		<paper-card  elevation="5" style="margin: 2%" animated-shadow="false" hidden$={{logado}}>
			<div class="card-header">
				<iron-icon icon="account-circle"></iron-icon>
						¡Bienvenido!
			</div>

			<form is="iron-form" id="form">
				<div class="card-content" style="text-align: center;"> 
					<paper-input label="Email" value={{email::input}} type="email" required auto-validate error-message="Introuce un correo valido"></paper-input>
					<paper-input required label="Contraseña" value={{password::input}} type="password" required auto-validate error-message="Olvidaste la contraseña"></paper-input>
					<paper-button  raised on-click="login" id="login" style="margin: 5%"> Login </paper-button>
				</div>
				</div>
			</form> 
		</paper-card> 

		
		<div id = one class="card" hidden={{!logado}}>
			<div class="row" >
				<a name="Ini" class="btn btn-info  col-lg-2 col-xs-12" style="margin: 1%" type="button" href="[[rootPath]]view1">Inicio</a>
				<a name="iNgresa" class="btn btn-info  col-lg-2 col-xs-12" style="margin: 1%" type="button" href="[[rootPath]]view3">Perfil</a> 
				<a name="Registro" class="btn btn-info  col-lg-2 col-xs-12" style="margin: 1%" type="button" href="[[rootPath]]view5">Simulador</a>
				<a name="Registro" class="btn btn-danger  col-lg-2 col-xs-12" style="margin: 1%" type="button" onclick="myFunction()" href="[[rootPath]]home">Logout</a>  
			</div>
		</div>
		<script>
			function myFunction() {
			  location.replace("/home")
			}
		</script>
		<div id = two class="card" hidden={{!logado}}>
			
			<h2>ID : {{idemongo}}</h2>
			<h3>Nombre : {{nombre}}</h3>
			<h3>Apellido : {{apellido}}</h3>
			
		</div>

	 <iron-ajax
			id="doLogin"
			url="http://practitione.club:3002/Login"
			content-type="application/json"
			crossDomain:true
			dataType:'jsonp'
			method="POST"
			handle-as="json"
			headers="Access-Control-Allow-Headers: *"
			on-response="manageAJAXResponse"
			on-error="showError">
	</iron-ajax>

	</template>

	<script>
		class MyView1 extends Polymer.Element {
			static get is() { return 'my-view1'; }
			static get properties() {
				return {
					email: {
						type: String,
					},
					password: {
						type: String,
					},
					name: {
						type: String,
					},
					surname: {
						type: String,
					},
					logado: {
						type: Boolean,
						value: false
					},
					storedUser: Object,
					error: String
				}    
			}
			login() {
				var loginData = {
					"email":this.email,
					"password":this.password
				};
				//console.log(loginData);
				this.$.doLogin.body = JSON.stringify(loginData);
				this.$.doLogin.generateRequest();
				//console.log("Petición enviada");
			}
			manageAJAXResponse(data) {
				//console.log("Respuesta recibida del servidor");
				var dt = data.detail.response;
				//console.log(dt);
				var ideparse = JSON.parse(JSON.stringify(dt._id))
				//var ide = ideparse.$oid
	
				//console.log(ideparse.$oid)
				//console.log(dt.name)
				//console.log(dt.surname)

				this.idemongo = ideparse.$oid
				this.nombre = dt.name
				this.apellido = dt.surname
				this.logado = true;
			}

			showError(error) {
				//console.log("Ocurrio un error");
				alert("Datos ingresados incorrectos, por favor valide");
				//console.log(error);
			}
			
		}

		window.customElements.define(MyView1.is, MyView1);
		

	</script>
</dom-module>
