<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="my-view4.html">

<link rel="import" href="../bower_components/paper-card/paper-card.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

Access-Control.Allow-Origin : *
Access-Control.Allow-Headers : *

<dom-module id="my-view5">
	<template>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<style include="shared-styles">
			:host {
				display: block;

				padding: 10px;
			}
			:host {
								display: block;
						}
						paper-button{
							background-color: var(--paper-pink-a200);
							color: white !important;
							padding: 1em;
							margin: 1em;

					}
		</style>

		<div id = one class="card" hidden={{logado}}>
			<div class="row" >
				<a name="Ini" class="btn btn-info  col-lg-2 col-xs-12" style="margin: 1%" type="button" href="[[rootPath]]view1">Inicio</a>
				<a name="iNgresa" class="btn btn-info  col-lg-2 col-xs-12" style="margin: 1%" type="button" href="[[rootPath]]view3">Perfil</a> 
				<a name="Registro" class="btn btn-info  col-lg-2 col-xs-12" style="margin: 1%" type="button" href="[[rootPath]]view5">Simulador</a>
				<a name="Registro" class="btn btn-danger  col-lg-2 col-xs-12" style="margin: 1%" type="button" onclick="myFunction()" href="[[rootPath]]home">Logout</a> 
			</div>
		</div>
		<script>
			function myFunction() {
			  location.replace("/home")
			}
		</script>

		<div class="card" hidden$="{{logado}}">
			<div class="container">

						<div class="row">
								<div class="col-lg-12 col-xs-12"><h2>Api YAHOO Finance by Apidojo</h2></div>
								<div col-lg-12 col-xs-12>Fuente: <a href="https://rapidapi.com/">https://rapidapi.com/</a></div>
								
						</div>

						<div class="container">
								<div class="row">
										<paper-button class="btn btn-success" on-tap="getIndices">CONSULTAR</paper-button> 
								</div>
						</div>

						<div class="layout horizontal">
								<my-view4 class="iron-flex" colleccion="{{arraymarket}}"></my-view4>
						</div>

				</div>
		</div>
		<iron-ajax
			id="yahoofinance"
			crossDomain:true
			url="https://apidojo-yahoo-finance-v1.p.rapidapi.com/market/get-trending-tickers?region=US"
			method="GET"
			headers= '{
				"x-rapidapi-host": "apidojo-yahoo-finance-v1.p.rapidapi.com",
				"x-rapidapi-key": "1e33ce4124mshfbaea5623732ef7p1077b2jsna87240fab270"
			}'
			on-response="manageAJAXResponse"
			on-error="showError">
	</iron-ajax>
	</template>

	<script>
		class MyView5 extends Polymer.Element {
			static get is() { return 'my-view5'; }


			static get properties() {
				return {
					arraymarket : {type:Array, value: function(){return []}},
					logado: {
						type: Boolean,
						value: false
					}
				}
			}

			 getIndices(){
								this.$.yahoofinance.url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/market/get-trending-tickers?region=US";
								this.$.yahoofinance.generateRequest();
								//console.log('Petición enviada');
						}

				manageAJAXResponse(data){
								//console.log('entre aqui y salio bien');
							 // console.log(JSON.parse(JSON.stringify(data.detail.response.finance.result)));
								var par = JSON.parse(JSON.stringify(data.detail.response.finance.result[0]));
								
								let arr = [par.quotes[0],par.quotes[1],par.quotes[2],par.quotes[3],par.quotes[4],par.quotes[5],par.quotes[6],par.quotes[7],par.quotes[8],par.quotes[9]];

								this.arraymarket = arr;
						}

				showError(){

							//console.log("Ocurrio un error");
				alert("ESTAS MAL");
				//console.log(error);

						}
		}
		window.customElements.define(MyView5.is, MyView5);
	</script>
</dom-module>
